$bg: #0f1325;
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: $bg;
  margin: 0;
  padding: 0;
}

input, button {
  font-family: "Lucida Console", Monaco, monospace;
}

#game {
  display: none;
  justify-items: center;

  #game-wrapper {
    display: grid;
    align-self: center;
    justify-self: center;

    #command-icon {
      color: white;
      font-size: 40px;
      position: fixed;
      left: 10px;
      bottom: 10px;
      z-index: 900;
    }
    #command-input {
      position: fixed;
      left: 0;
      bottom: 0;
      height: 40px;
      font-size: 40px;
      padding: 10px 10px 10px 50px;
      border: none;
      background-color: #000d11;
      color: white;
      letter-spacing: 2px;
      width: 100%;
      text-transform: lowercase;

      &:focus {
        outline-width: 0;
      }
    }
  }
}

#main-menu {
  padding: 10px;
  display: grid;
  justify-items: center;
  color: white;

  .title {
    padding: 40px;
    align-self: center;
    font-size: 2em;
  }

  .menu-wrapper {
    display: grid;
    grid-gap: 30px;
    background-color: #000d11;
    padding: 50px;

    input {
      background-color: #000000;
      color: white;
      padding: 15px;
      text-align: center;
      border-left: none;
      border-right: none;
      border-top: none;

      &:focus {
        outline-width: 0;
      }
    }

    button {
      padding: 10px;
      letter-spacing: 2px;
      background-color: green;
      border: none;
      color: white;
    }
  }
}

